@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



/* Column Size for thead */
.recipe-list table {
  
  width: 100%;
  border-collapse: collapse;
}

.recipe-list th, .recipe-list td {
  border-inline: #b99c4c;
  padding: 10px;
  text-align: left;
}

.create-recipe-row {
  text-align: center;
}

/* Apply styles to every 2nd row (even rows) in the tbody */
.recipe-list tbody tr:nth-child(even) {
  background-color:  #fff0c7;
}

/* Column size for tbody */
